/* @import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  /* --background: #FD976D;  */
  --background: #F9F6F3;

  --foreground: #1B1624;
  --primary: #FD976D;
  --secondary: #5DCDF1;
  --font-Gravitas: "Roboto Slab", serif;
  --font-default: "Google Sans", sans-serif;

}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-fraunces);
  --font-Gravi: var(--font-Gravitas);
  --font-def: var(--font-default)
}

body {
  background: #fff;
  color: var(--foreground);
  font-family: var(--font-def);
}

.box-puzzel {
  display: flex;
  align-items: start;
  flex-direction: column;
  background: var(--background);
  border-radius: 0.75rem;
  border-radius: 12px;
  padding: 3rem;
  gap: 23px;
}

.container-width {
  max-width: 1200px;
  width: auto;
}

.fancy-underline {
  position: relative;
  display: inline-block;
}

.fancy-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.35em;

  width: 100%;
  height: 0.35em;

  background: #4fc3f7;
  /* match your design */
  border-radius: 999px;

  transform: rotate(-2deg);
  z-index: -1;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong{
  color: var(--foreground);
}

.prose  :where(blockquote):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: var(--foreground);
}